__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

venv/
.venv/

backend/product-catalog-ai/venv/
backend/product-catalog-ai/.chalice/deployments/
backend/product-catalog-ai/.chalice/venv/

.env
.env.local

.pytest_cache/
.mypy_cache/

docs/
